// helper function to return dimensions of sprite map for use with retina sprites
@function retina-dimensions($map) {
  $path: sprite-path($map);
  @return image-width($path)/2 image-height($path)/2;
}

// retina version of http://compass-style.org/reference/compass/helpers/sprites/#sprite-position
@function retina-position($map, $sprite, $offset-x: 0, $offset-y: 0) {
  $sprite-pos: sprite-position($map, $sprite);
  $x: nth($sprite-pos, 1);
  $y: nth($sprite-pos, 2);

// emulate sprite-background-position()
  $retina-x: $offset-x;
  $retina-y: $offset-y;
  @if unit($offset-x) != "%" {
    $retina-x: $x/2 + $offset-x;
  }
  @if unit($offset-y) != "%" {
    $retina-y: $y/2 + $offset-y;
  }
  @return $retina-x $retina-y;
}

@mixin common-properties($map){
  @include background-size(retina-dimensions($map));
}

// retina version of http://compass-style.org/reference/compass/helpers/sprites/#sprite
@function retina-sprite($map, $sprite, $offset-x: 0, $offset-y: 0) {
  @return $map retina-position($map, $sprite, $offset-x, $offset-y);
}

// retina version of http://compass-style.org/reference/compass/utilities/sprites/base/#mixin-sprite-background-position
@mixin retina-sprite($map, $sprite, $offset-x: 0, $offset-y: 0) {
  background-position: retina-position($map, $sprite, $offset-x, $offset-y);
  @extend %#{sprite-map-name($map)}-common;
}